.exchangerFilters {
    display: flex;
    flex-direction: row;
    width: 910px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    -webkit-box-shadow: 7px 10px 8px 0px rgba(56, 89, 114, 0.2);
    -moz-box-shadow: 7px 10px 8px 0px rgba(56, 89, 114, 0.2);
    box-shadow: 7px 10px 8px 0px rgba(56, 89, 114, 0.2);
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    margin-bottom: 40px;
}

.filterButton {
    width: 130px;
    background-color: #0000BA;
    color: #FFFFFF;
    margin: 5px 10px;
    font-size: 15px;
}

.clearFiltersButton {
    width: 130px;
    background-color: #ff4656;
    color: #FFFFFF;
    border: none;
    margin: 5px 10px;
    font-size: 15px;
}

.clearFiltersButton:hover{
    background-color: #FFFFFF;
    color: #ff4656;
}

.clearFiltersButton:focus,
.filterButton:focus{
    outline: none;
}