$font-bold: 400;
$font-color: #39475A;
$header-font-size: 38px;
$activeButtonColor: #1C77CD;
$colorButton: #FFFFFF;
$secondaryButtonColor: #FFFFFF; 
$secondaryButtonTextColor: #1C77CD; 
$borderRadius: 6px;
$button-font-size: 14px;
