.container {
    position: relative;
    width: 206px;
    margin-top: 5px;
  }
  
  .emojis {
    position: absolute;
    width: 210px;
    top: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  .emojiContainer {
    width: 24px;
    height: 24px;
  }
  
  .emojiCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
  }
  
  .emoji {
    width: 24px;
    height: 24px;
  }
  
  .range {
    width: 192px;
    height: 6px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    background: linear-gradient(to right, var(--range-color) var(--range-value), white var(--range-value));
  }
  