.button {
    border: solid;
    border-width: 1px;
    border-color: #DCDCDC;
    border-radius: 46px;
    width: 70px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.button:hover {
    background-color: #1E64B7;
}

.active {
    background-color: #1E64B7;
}

.buttonImg {
    width: 24px;
    height: 24px;
}